node_modules
.next
out
build
.git
.gitignore
.dockerignore
.vscode
.idea
*.log
.env
.env.example
README.md
Dockerfile
Dockerfile.dev
docker-compose.yml
npm-debug.log
yarn-error.log
.eslintrc.json
tsconfig.json
next.config.mjs
postcss.config.mjs
tailwind.config.ts
eslint.config.mjs
